header
    background: #fff
    box-shadow: 0 2px 34px rgba(208, 208, 208, 0.4)
    width: 100%
    position: fixed
    z-index: 100


.wrap-menu-logo
    height: 64px
    .logo
        height: 46px
        a
            height: 100%
            img 
                height: 100%
                display: block

    
.wrap-menu
    height: 46px
    font-family: "Poppins", sans-serif
    font-weight: 400
    .menu
        height: 100%
        display: flex
        justify-content: space-around
        align-items: center
        li
            list-style-type: none
            a
                text-decoration: none
                color: #000
                font-size: 14px
                &:hover
                    color: #3355FF
.promo
    min-height: 804px
    background: url("../img/bg/first.png") center center/cover no-repeat
    background-size: 100%
    padding: 250px 0  0
    .intro 
        font-family: Rubik, sans-serif
        height: 275px
        .wrap-intro-text
            margin-bottom: 62px
        h2
            font-size: 22px
            margin-bottom: 15px
            font-weight: 300
        h1
            font-weight: 700
            font-size: 74px
            margin-bottom: 24px
        h3
            font-size: 20px
            font-weight: 300
        .try-panel
            display: flex
            button
                width: 48%
                height: 60px
                background:#3355FF
                font-family: Poppins, sans-serif
                font-weight: 600
                font-size: 16px
                color: #fff
                border-radius: 4px
                outline: 0
                border: none
                transition: background 0.5s ease-in-out
                &:hover
                    background: #1631B6
                    transition: background 0.5s ease-in-out
            .count-users
                width: 50%
                display: flex
                align-items: center
                justify-content: space-around
                p
                    display: block
                    margin: auto 0
.our-results
    position: absolute
    width: 100%
    transform: translateY(-100px)
    .result-item
        position: relative
        height: 200px
        background: #fff
        box-shadow: 0 0 34px #D0D0D0
        display: flex
        align-items: center
        justify-content: center
        &::after
            content: ""
            width: 100%
            background: #D3D2F3
            position: absolute
            height: 5px
            bottom: 0
            z-index: 3
        .result-value
            height: 60%
            widows: 60%
            border-radius: 4px
            font-family: "Poppins", sans-serif
            span
                font-weight: 700
                font-size: 52px
                margin-bottom: 20px
            p
                font-weight: 500
                font-size: 20px
.our-possibilities
    min-height: 1090px
    background:  #FAFAFA
    padding-top: 240px
    h2
        font-family: Rubik, sans-serif
        font-weight: 700
        font-size: 42px
    .possibilities-item
        position: relative
        background: #fff
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1)
        border-radius: 4px
        padding: 60px 20px 40px 40px
        margin-bottom: 65px
        .icon-wrap
            height: 80px
            width: 80px
            position: absolute
            background: #fff
            box-shadow: 5px 5px 15px rgba(208, 208, 208, 0.4)
            top: -40px
            left: 40px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 4px
            font-family: "Poppins", sans-serif
        h3
            font-weight: 700
            font-size: 18px
        p
            font-weight: 400
            font-size: 14px
            line-height: 1 em
